---
import Link from "@/components/Link.astro";
import Icon from "@/components/Icon.astro";
import { IconsPath } from "@/utils/const";

const Id = "nav-bar-link";

interface Pages {
  content?: string;
  href?: string;
  id?: string;
  styles?: string;
  icon?: {
    icon: keyof typeof IconsPath;
    width?: string;
    slot?: string;
  };
}

const Pages: Array<Pages> = [
  { content: "Home", href: "/", id: Id, styles: "hover:text-primary" },
  {
    content: "Services",
    href: "/services",
    id: Id,
    styles: "hover:text-primary",
  },
  {
    content: "Technology",
    href: "/technology",
    id: Id,
    styles: "hover:text-primary",
  },
  { content: "About", href: "/about", id: Id, styles: "hover:text-primary" },
  {
    content: "Contact",
    href: "/contact",
    id: Id,
    styles: "hover:text-primary",
  },
  {
    content: "Hire us",
    styles: "text-primary flex items-center gap-2",
    icon: { icon: "adress_card", width: "16", slot: "icon-left" },
  },
];
---

<nav
  class="relative py-6 text-xs flex items-center max-w-[90%] justify-between mx-auto xs:text-base xs:py-14 xs:max-w-[70%]"
>
  <Link href="/" content="compleet labs" styles="text-primary font-semibold" />
  <button id="menu-btn" class="xs:hidden text-primary"
    ><Icon icon="menu" width="24" /></button
  >
  <ul
    id="menu-container"
    class=" absolute hidden transition duration-200 ease-in-out top-20 right-0 xs:flex xs:static xs:visible text-secondary flex-col xs:flex-row gap-4 font-medium"
  >
    {
      Pages.map(({ content, href, id, styles, icon }) => (
        <li>
          {!icon ? (
            <Link id={id} href={href} content={content} styles={styles} />
          ) : (
            <Link id={id} content={content} href={href} styles={styles}>
              <Icon slot={icon.slot} icon={icon.icon} width={icon.width} />
            </Link>
          )}
        </li>
      ))
    }
  </ul>
</nav>

<script>
  const Links = document.querySelectorAll(
    "#nav-bar-link"
  ) as NodeListOf<HTMLAnchorElement>;
  const url = window.location.href;

  Links.forEach((link) => {
    if (link.href === url) {
      link.classList.add("text-primary");
    }
  });

  const menuBtn = document.querySelector("#menu-btn") as HTMLButtonElement;
  const menuContainer = document.querySelector(
    "#menu-container"
  ) as HTMLDivElement;

  menuBtn.addEventListener("click", () => {
    menuContainer.classList.toggle("flex");
    menuContainer.classList.toggle("hidden");
  });
</script>
